@model List<BlogApplication.MVC.ViewModels.UserVM>

@{
    ViewData["Title"] = "Nguyen Huy";
}

<!-- Page Heading -->
<div class="d-flex justify-content-between align-items-center">
    <h1 class="h3 mb-2 text-gray-800">Overall</h1>
</div>