@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Heading"] = "Privacy Policy";
    ViewData["SubHeading"] = "my site's privacy policy";
    ViewData["BgHeading"] = "/blog/assets/img/privacy-bg.jpg";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
